<section class="container-fluid p-0" id="blog-page">
    <!-- Cover Photo Section Start -->
    <div class="cover-photo d-flex flex-column justify-content-center align-items-center text-center position-relative">
        <div class="overlay"></div>
        <h1 class="display-4 fw-bold" style="z-index:4; color: rgba(255, 255, 255, 0.795);">Read The Latest Articles from Our Blog</h1>
        <p class="lead">Stay updated with our insights and tips.</p>
    </div>
    <!-- Cover Photo Section End -->
    
<!-- Breadcrumb Section Start -->
<nav class="container my-3" aria-label="breadcrumb">
    <ol class="breadcrumb p-3 rounded shadow">
        <li class="breadcrumb-item">
            <a href="/" class="text-decoration-none text-dark">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/blog" class="text-decoration-none text-dark">
                Blog
            </a>
        </li>
        <li *ngIf="this.currentBlogInDetail" class="breadcrumb-item active" aria-current="page">
            {{this.currentBlogInDetail}}
        </li>
    </ol>
</nav>
<!-- Breadcrumb Section End -->

</section>
